/* UI Panel */
.ppp-ui-menu {
    background: #121214;
    width: 40px;
    margin-top: 65px;
}
.ppp-ui-menu > .button {
    max-width: 100%;
    height: 35px;
    cursor: pointer;
}
/* UI Panel END */

/* Chat */
#chat-messages .ppp-log {
    background: #000;
    min-height: 30px;
    border-left: 3.5px solid !important;
}
#chat-messages .ppp-log > .badge-box {
    margin: 0px;
    margin-left: 8px;
}
#chat-messages .ppp-log > .msg.with-badge-box {
    padding-left: 46px;
}
#chat-messages .ppp-log > .msg {
    padding-left: 10px;
    line-height: 18px;
}
#chat-messages .ppp-log.ppp-type-run {
    border-left-color: #BB8C00;
}
#chat-messages .ppp-log.ppp-type-info {
    border-left-color: #3E003B;
}
#chat-messages .ppp-log.ppp-type-error {
    border-left-color: #3E0000;
}
/*#chat-messages .message {
    display: none;
}*/
#chat-messages .ppp-chat-user-info {
    color: #808691;
    opacity: 0.3;
    font-size: 8px;
    margin-left: 5px;
    display: none;
}
#chat-messages .ppp-chat-user-info > .value {
    font-size: 10px;
    color: #eee;
}
#chat-messages .message:hover .ppp-chat-user-info {
    display: inline;
}
#chat-messages .delete-button {
    padding: 0px !important;
    width: 32px;
    height: 32px;
}
#chat-messages .badge-box {
    background: rgba(0, 0, 0, 0) !important;
}
#chat-messages .message .badge-box, .emote .badge-box, .mention .badge-box {
    opacity: 0.1 !important;
    -webkit-filter: grayscale(100%) !important;
    -webkit-transition: 0.3s !important;
}
#chat-messages .message:hover .badge-box, .emote:hover .badge-box, .mention:hover badge-box {
    opacity: 1 !important;
    -webkit-filter: grayscale(0%) !important;
    -webkit-transition: 0.3s !important;
}
#chat-messages .mention, #chat-messages .mention:nth-child(2n+1) {
    border-left: rgba(255, 221, 111, 1) 3.5px solid !important
}
#chat-messages .mention.is-dj, #chat-messages .mention.is-staff, #chat-messages .mention.is-dj:nth-child(2n+1), #chat-messages .mention.is-staff:nth-child(2n+1) {
    border-left: rgba(172, 118, 255, 1) 3.5px solid !important
}
#chat-messages .mention.is-subscriber, #chat-messages .mention.is-subscriber:nth-child(2n+1) {
    border-left: rgba(197, 152, 64, 1) 3.5px solid !important
}
#chat-messages .mention, #chat-messages .mention:nth-child(2n+1), #chat-messages .mention.is-pm:nth-child(2n+1), #chat-messages .mention.is-pm, #chat-messages .mention.is-subscriber, #chat-messages .mention.is-subscriber:nth-child(2n+1), #chat-messages .mention.is-dj, #chat-messages .mention.is-staff, #chat-messages .mention.is-dj:nth-child(2n+1), #chat-messages .mention.is-staff:nth-child(2n+1) {
    background: linear-gradient(135deg,rgba(17, 19, 23, 0.15) 0%,rgba(17, 19, 23, 0.15) 0%,rgba(17, 19, 23, 0.15) 0%) !important;
}
#chat-messages .mention.is-you .badge-box, #chat-messages .mention.is-dj .badge-box, #chat-messages .mention.is-staff .badge-box, #chat-messages .mention.is-you:nth-child(2n+1) .badge-box,  #chat-messages .mention.is-dj:nth-child(2n+1) .badge-box, #chat-messages .mention.is-staff:nth-child(2n+1) .badge-box {
    opacity: 1 !important;
    -webkit-filter: grayscale(0%) !important;
}
#chat-messages .badge-box .bdg-animals-s02, .badge-box .bdg-style-s04 {
    height: 29px !important;
}
#chat-messages .emote.role-staff {
    background-color: #240024 !important;
    color: #CFCFCF
}
#chat-messages .emote.role-staff .badge-box {
    opacity: 1 !important;
    -webkit-filter: grayscale(0%) !important;
}
#chat-messages .promo {
    display: none;
}
#chat-messages .from.subscriber .un {
    color: #777f92 !important;
}
#chat-messages .from.subscriber .icon-chat-subscriber {
    background: url('http://yals.tk/plugPlusPlus/subscriber.png') !important;
    background-position: 0px;
}
#chat-messages .role-friend .from > .un {
    color: #90AD2F!important;
}
#chat-input {
    border-radius: 5px !important;
}
/* Chat END */

/* Header */
.app-header {
    background: #0d0d0d;
}
.header-panel-button {
    border-right: #1A1818 1px solid;
}
#app-menu, #app-menu .list {
    background: #000 !important;
}
#app-menu .list .item {
    box-shadow: none !important;
}
#now-playing-time, #volume {
    right: 64px !important;
}
#history-button {
    background: rgba(0, 0, 0, 0.3) !important;
}
#now-playing-dj {
    text-align: right;
    top: 1px;
    font-size: 12px;
    right: 135px;
    position: absolute;
}
#now-playing-dj .dark-label {
    display: block;
    color: #999B9F;
    z-index: 1;
}
#now-playing-media {
    top: 7px;
    z-index: 2;
}
#now-playing-media .bar-value {
    color: #777f92;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
#now-playing-media .bar-value .author {
    display: block;
    color: #eee;
    font-weight: normal;
}
#spotifyify-holder {
    height: 4px;
    width: calc(100% - 182px);
    left: 47px;
    bottom: 6px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: #282C35;
}
#spotifyify-bar {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: #009cdd;
}
#spotifyify-bar.zero {
    width: 0px !important;
    transition: 0s linear !important;
}
/* Header END */

/* Room */
#waitlist .list .is-subscriber .name, #user-lists .list .is-subscriber .name { 
    color: #eee !important;
}
#dj-button {
    background: #222224 !important;
}
#dj-button:not(.is-leave) > .ppp-eta {
    display: none;
}
#dj-button.is-leave > span {
    font-size: 14px;
    margin-top: 5px;
    display: block;
}
#dj-button.is-leave > .ppp-eta {
    font-size: 24px;
    margin-top: 7px;
    display: block;
}
#dj-button.is-leave > .ppp-eta > #ppp-eta-time {
    margin-left: 0px;
    display: inline;
}
#dj-button.is-quit .left, #dj-button.is-leave .left, #dj-button.is-wait .left, #dj-button.is-locked .left, #dj-button.is-full .left {
    background: #121214 !important;
}

#dj-button.is-leave .left {
    border-left: 3px solid #f46b40 !important;
}

#dj-button.is-full .left, #dj-button.is-quit .left, #dj-button.is-locked .left {
    border-left: 3px solid #c42e3b !important;
}
#video-only-dj {
    background: #222224 !important;
}
.vote {
    background: #222224 !important;
}
#grab {
    left: -1px !important;
}
#meh {
    left: -2px;
}
#playlist-button {
    background: #121214;
}
#video {
    display: none !important;
}
.thumb.large .background {
    background: rgba(0, 0, 0, 0.3) !important;
}
/* Room END */

/* Scoreboard */
#vote > #scoreboard {
    position: absolute;
    top: -152px;
    background: #282C35;
    width: 100%;
    height: 157px;
    overflow-y: auto;
}
#vote > #scoreboard > .scoreboard-bar {
    height: 10px;
}
#vote > #scoreboard > .scoreboard-bar.woot {
    background: #90AD2F;
}
#vote > #scoreboard > .scoreboard-bar.grab {
    background: #AA74FF;
}
#vote > #scoreboard > .scoreboard-bar.meh {
    background: #C42E3B;
}
#vote > #scoreboard > .list {
    padding: 10px;
    padding-top: 5px;
}
#vote > #scoreboard > .list > div > .icon {
    margin-top: 2px;
}
#vote > #scoreboard > .list > div > .role-staff {
    margin-left: 18px;
}
#vote .crowd-response {
    background: #222224!important;
}
/* Scoreboard END */

/* Controls */
#user-rollover {
    background: #090909 !important;
}
#user-rollover .subscriber .thumb, #waitlist .is-subscriber .thumb {
    border-color: rgba(137, 190, 108, 0.5) !important;
} 
#user-rollover .actions .action.rcs-qmute, #user-rollover .actions .action.rcs-qinfo {
    width: 50% !important;
}
#user-rollover .actions .action.rcs-qban {
    display:none !important;
}
#user-rollover .meta.subscriber .status span {
    color: #777f92 !important;
}
#user-rollover .info {
    background: rgba(19, 19, 19, 0.5) !important;
}
#user-rollover .actions .action:hover {
    background: #222224;
}
#user-rollover.is-staff .thumb {
    border-color: rgba(172, 112, 255, 0.6) !important;
}
#user-rollover.expand.chat .arrow-down {
    border-left: 8px solid rgba(10, 10, 10, 0.8) !important 
}
/* Controls END */

/* Footer */
.ppp-footer-isActive {
    display: block !important;
}
.ppp-footer-isNotActive {
    display: none !important;
}
.ppp-footer-percentage {
    font-size: 10px;
    display: block;
    margin-left: 81px;
    margin-top: -1px;
    position: absolute !important;
}
.ppp-footer-menu-nothing {
    height: 16px;
}
#footer-user {
    cursor: pointer;
}
#footer-user .bar .value,
#footer-user .profile,
#footer-user .store,
#footer-user .played,
#footer-user .settings {
    display: none;
}
#footer-user .info .meta .bar {
    width: 105px;
}
#footer-user .inventory .image .thumb {
    border: 2px solid #89be6c;
}
#footer-user .buttons.hover {
    background: #282c35;
    box-shadow: #282c35;
    -webkit-box-shadow: #282c35;
    -moz-box-shadow: #282c35;
}
#footer-user .buttons .button {
    top: -100%;
    left: 65px;
    background: #282c35;
    display: none;
    text-align: left;
}
#footer-user .buttons .inventory {
    top: 0%;
    left: 0%;
}
#footer-user .buttons .inventory,
#footer-user .buttons .button.inventory:hover {
    display: block;
    background: #0d0d0d;
    -webkit-box-shadow: inset 1px 0 0 0 #0a0a0a;
    -moz-box-shadow: inset 1px 0 0 0 #0a0a0a;
    box-shadow: inset 1px 0 0 0 #0a0a0a;
}
#footer-user .buttons .button span {
    margin-left: 20%;
}
#footer-user .buttons .badge,
#footer-user .buttons .store,
#footer-user .buttons .profile,
#footer-user .buttons .settings {
    width: 82%;
    top: -265px;
    background: #1c1f25;
}
#footer-user .buttons .badge .bdg,
#footer-user .buttons .store .icon,
#footer-user .buttons .profile .icon,
#footer-user .buttons .settings .icon{
    left: 12px;
    position: absolute;
}
#footer-user .buttons .button.store:hover{
    background: #323742;
}
#footer-user .info {
    top: 1px;
    left: 19%;
    width: 300px;
    background: #121214;
    display: block;
}
#footer-user .info.open {
    background: #1c1f25;
}
#footer-user .info .points {
    right: 25px;
}
#footer-user .back {
    z-index: 1;
}
#footer-user .info .meta {
    width: auto;
}
#footer-user .info .meta .bar {
    width: 183px !important;
}
#footer-user .info .pp {
    top: 0px;
}
#twitter-menu,
#facebook-menu {
    display: none !important;
}
#footer .bar-button .section .chevron {
    opacity: 0.3 !important;
}
#footer-user .buttons .button {
    box-shadow: inset 1px 0 0 0 #111 !important;
}
#footer {
    background: #0d0d0d;
}
#playlist-meta .bar-button {
    width: calc(100% - 53px) !important;
}
/* Footer END */

/* BCS's Advanced Searching System TM (Or The A.S.S.) By: Beta Tester */
div.ppp-ass-frame {
    outline: 1px solid #282c35;
    padding: 10px;
    width: calc(100% - 30px);
    margin: 0px;
    background-color: #1c1f25;
}
span.ppp-ass {
    color: #cccccc;
    font-size: 12px;
}
span.ppp-ass-head {
    text-align: center;
    width: calc(100% - 30px);
    position: absolute;
}
span.ppp-ass-label {
    color: #42a5dc;
    font-weight: bold;
}
span.ppp-ass i.icon {
    margin: 2px 0px 0px -2px;
}
a.ppp-ass-link {
    color: #aec9ea;
}
a.ppp-ass-keyword {
    color: #b8e0ff;
    font-style: oblique;
}
a.ppp-ass-unavailable {
    color: #646b7e;
}
a.ppp-ass-small {
    font-size: 9px;
}
a.ppp-ass-regular {
    color: #777f92;
}
a.ppp-ass-ambassador {
    color: #89be6c;
}
a.ppp-ass-admin {
    color: #42a5dc;
}
a.ppp-ass-subscriber {
    color: #c59840;
    font-weight: bold;
}
a.ppp-ass-staff {
    color: #ac76ff;
}
a.ppp-ass-woot {
    color: #90ad2f;
}
a.ppp-ass-meh {
    color: #c42e3b;
}
a.ppp-ass-grab {
    color: #aa74ff;
}
a.ppp-ass-spacing {
    padding-left: 15px;
}
/* BCS End */

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px !important;
    background-color: #000 !important;
}
::-webkit-scrollbar-thumb {
    background-color: #272727 !important;
}